@charset "UTF-8";

/* Forked from https://github.com/yeyang52/yenai-plugin/blob/098e0310392a25b036021f5523108ee2a8d57032/resources/state/css/index.css */

:root {
  --bg: rgba(239, 241, 245);
  /* 背景颜色 */
  --back-bg: #acb0be;
  /* 定义宽度 */
  --w: 100px;
  --back-shadow: #ccd0da;
  /* 父容器gap间距 */
  --gap: 8px;
  /* 第二层圆形宽度 */
  --inner: calc(var(--w) - var(--gap));
  /* 文本颜色 */
  --text-color: #4c4f69;
  /* 定义stroke的宽度 */
  --stroke: 12px;
  /* svg环形宽度 更正内容*/
  --circle: calc(var(--inner) - var(--stroke));
  /* 第三层圆形宽度 */
  --center: calc(var(--circle) - var(--stroke));
  --high-color: #e78284;
  --medium-color: #e5c890;
  --low-color: #85c1dc;
  --avatar-main-color: #fff1eb;
  --avatar-similar-color1: #fff1eb;
  --avatar-similar-color2: #99d1db;
}

.mainHardware {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1px;
}

.mainHardware .container-box {
  width: var(--w);
  height: var(--w);
  position: relative;
}

.mainHardware .container-box::after {
  content: attr(data-num);
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

/* .mainHardware .circle-outer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--bg);
} */

.mainHardware .circle-outer::before {
  width: var(--inner);
  height: var(--inner);
  box-shadow: inset 8px 8px 10px var(--back-bg), inset -4px -4px 8px var(--back-shadow);
}

.mainHardware .circle-outer::after {
  width: var(--center);
  height: var(--center);
  box-shadow: 6px 6px 8px var(--back-bg), -2px -2px 8px var(--back-shadow);
}

.mainHardware .circle-outer::before,
.mainHardware .circle-outer::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--bg);
}

.mainHardware svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transform: rotate(-90deg);
}

.mainHardware svg circle {
  cy: calc(var(--circle) / 2);
  cx: calc(var(--circle) / 2);
  r: calc(var(--circle) / 2);
  fill: none;
  /* 圆角 */
  stroke-linecap: round;
  position: absolute;
  --z: calc(var(--w) / 2);
  --c: calc(var(--circle) / 2);
  transform: translate(calc(var(--z) - var(--c)), calc(var(--z) - var(--c)));
  /* 圆的周长 */
  stroke-dasharray: calc(3.14 * var(--circle));
  stroke-dashoffset: calc(3.14 * var(--circle));
  stroke-width: var(--stroke);
}

.mainHardware article {
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHardware article summary {
  font-size: 22px;
  margin-top: 5px;
}

.speed p,
.HardDisk_li .mount,
.botInfo .header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  background-color: #e9e9e9;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 224, 232, 0.15);
  z-index: 1;
}

.container>* {
  position: relative;
  z-index: 2;
}

li {
  list-style: none;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  margin: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-weight: 700;
  position: relative;
}

.botInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.botInfo .avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
}

.botInfo .avatar-box .avatar {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 20px;
}

.botInfo .avatar-box .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.botInfo .avatar-box .avatar::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -3px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--avatar-similar-color2), var(--avatar-similar-color1));
}

.botInfo .avatar-box .info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.botInfo .avatar-box .info .onlineStatus {
  width: 15px;
  height: 15px;
  margin-right: 4.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botInfo .header {
  font-size: 14px;
  width: 100%;
  color: var(--text-color);
}

.botInfo .header hr {
  margin-top: 2px;
  margin-bottom: 5px;
}

.botInfo .header p {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  --purple: #babbf1;
  --orange: #e5c890;
  --blue: #8caaee;
  color: #11111b;
}

.botInfo .header p span {
  border-radius: 5px;
  padding: 1px 5px;
  margin-right: 8px;
  white-space: nowrap;
}

.botInfo .header p span img {
  width: 14px;
  height: 14px;
  vertical-align: -2px;
}

.botInfo .header h1 {
  display: inline-block;
  background-color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(135deg, #bdc3c7 10%, #2c3e50);
  border-radius: 10px;
}

.speed {
  width: 100%;
  display: flex;
  height: 25px;
  line-height: 25px;
  padding-left: 9px;
  padding-right: 9px;
}

.speed p:first-child {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 50%;
  text-align: left;
  margin-right: 20px;
}

.speed p:last-child {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 20px;
  text-align: right;
}

.status-light {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.status-light.online {
  background-color: #a6d189;
}

.status-light.connect,
.status-light.reconnect {
  background-color: #ef9f76;
}

.status-light.disconnect {
  background-color: #e78284;
}

.status-light.offline {
  background-color: #6c6f85;
}

.status-text {
  line-height: 15px;
  font-size: 12px;
}

span.platform {
  background: #f2d5cf;
}

span.running-time {
  background: #f4b8e4;
}

span.sent {
  background: var(--purple);
}

span.received {
  background: var(--orange);
}